<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/js/home/register.js" defer></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script> -->
    <link rel="stylesheet" href="css/home/login.css">
    <title>Document</title>
</head>
<body>
    <div class="login-page">
        <div class="form">
          <form class="login-form">
            <input type="text" placeholder="아이디" id="id"/>
            <input type="text" placeholder="이름" id="name"/>
            <input type="password" placeholder="비밀번호" id="pwd"/>
            <input type="password" placeholder="비밀번호 확인" id="confirm-pwd"/>
            <div id="button">SIGN UP</div>
            <p class="message">already registered? <a href="/login">Login</a></p>
          </form>
        </div>
      </div>
</body>
</html>